<h2>Equipamento Fixo - Apontamento</h2>
<form>
    <div class="row">
        <div class="col-sm">
            <div class="text-right">
                <button type="button" class="btn btn-primary">Abrir ordem</button>
                <button type="button" class="btn btn-primary">Imprimir</button>
                <button type="button" class="btn btn-primary">Paralisar</button>
                <button type="button" class="btn btn-primary">Finalizar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputNota" class="font-weight-bold">Nota</label>
                <input type="text" readonly class="form-control-plaintext" id="inputNota" value="10002793">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputOrdem" class="font-weight-bold">Ordem</label>
                <input type="text" readonly class="form-control-plaintext" id="inputOrdem" value="40033612">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputData" class="font-weight-bold">Data</label>
                <input type="text" readonly class="form-control-plaintext" id="inputData" value="11/07/2018">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputHora" class="font-weight-bold">Hora</label>
                <input type="text" readonly class="form-control-plaintext" id="inputHora" value="16:15:00">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputContrato" class="font-weight-bold">Contrato Trab</label>
                <input type="text" class="form-control" id="inputContrato" value="VPL13">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputStatus" class="font-weight-bold">Status</label>
                <input type="text" readonly class="form-control-plaintext" id="inputStatus" value="Em execução">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputLocalnstalacao" class="font-weight-bold">Local instalação</label>
                <input type="text" readonly class="form-control-plaintext" id="inputLocalnstalacao" value="M-L03-PEN-3VA">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputSintoma" class="font-weight-bold">Sintoma</label>
                <input type="text" readonly class="form-control-plaintext" id="inputSintoma" value="Trilho de rolamento com problema">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputDescricao" class="font-weight-bold">Descrição</label>
                <input type="text" readonly class="form-control-plaintext" id="inputDescricao" value="Trilho A. prox. Sin. 29º">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputNotificador" class="font-weight-bold">Notificador</label>
                <input type="text" readonly class="form-control-plaintext" id="inputNotificador" value="22122">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputDiagnostico" class="font-weight-bold">Diagnóstico</label>
                <input type="text" readonly class="form-control-plaintext" id="inputDiagnostico" value="A - Falha">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputLocalInstalacaoPrincipal" class="font-weight-bold">Local instação principal</label>
                <input type="text" readonly class="form-control-plaintext" id="inputLocalInstalacaoPrincipal" value="M-L03-PEN-3VA">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="inputCausaRaiz" class="font-weight-bold">Causa raíz</label>
                <input type="text" readonly class="form-control-plaintext" id="inputCausaRaiz" value="3VA10">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="inputObservacao" class="font-weight-bold">Observação</label>
                <textarea class="form-control" rows="3" id="inputObservacao"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <caption>Histórico</caption>
                    <thead>
                        <tr>
                            <th>Histórico</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Criada por</th>
                            <th>Resp</th>
                            <th>Texto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Solicitada</td>
                            <td>11/07/2018</td>
                            <td>16:15:00</td>
                            <td>10121</td>
                            <td>MRSGC</td>
                            <td>
                                <a href="#" data-id="1" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Solicitada</td>
                            <td>11/07/2018</td>
                            <td>16:15:00</td>
                            <td>10121</td>
                            <td>MRSGC</td>
                            <td>
                                <a href="#" data-id="2" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Solicitada</td>
                            <td>11/07/2018</td>
                            <td>16:15:00</td>
                            <td>10121</td>
                            <td>MRSGC</td>
                            <td>
                                <a href="#" data-id="3" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Solicitada</td>
                            <td>11/07/2018</td>
                            <td>16:15:00</td>
                            <td>10121</td>
                            <td>MRSGC</td>
                            <td>
                                <a href="#" data-id="4" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <caption>Notas vinculadas</caption>
                    <thead>
                        <tr>
                            <th>Nota</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="5" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="6" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="7" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="8" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="9" class="btn_details"><i class="material-icons">search</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <caption>Documentos vinculados</caption>
                    <thead>
                        <tr>
                            <th>Doc</th>
                            <th>Tipo</th>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="10" class="btn_details"><i class="material-icons">search</i></a>
                                <a href="#" data-id="10" class="btn_add"><i class="material-icons">add</i></a>
                                <a href="#" data-id="10" class="btn_cancel"><i class="material-icons" style="color:#FF0000">close</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="11" class="btn_details"><i class="material-icons">search</i></a>
                                <a href="#" data-id="11" class="btn_add"><i class="material-icons">add</i></a>
                                <a href="#" data-id="11" class="btn_cancel"><i class="material-icons" style="color:#FF0000">close</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="12" class="btn_details"><i class="material-icons">search</i></a>
                                <a href="#" data-id="12" class="btn_add"><i class="material-icons">add</i></a>
                                <a href="#" data-id="12" class="btn_cancel"><i class="material-icons" style="color:#FF0000">close</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="13" class="btn_details"><i class="material-icons">search</i></a>
                                <a href="#" data-id="13" class="btn_add"><i class="material-icons">add</i></a>
                                <a href="#" data-id="13" class="btn_cancel"><i class="material-icons" style="color:#FF0000">close</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>154545545</td>
                            <td>PC</td>
                            <td>COPESE</td>
                            <td>
                                <a href="#" data-id="14" class="btn_details"><i class="material-icons">search</i></a>
                                <a href="#" data-id="14" class="btn_add"><i class="material-icons">add</i></a>
                                <a href="#" data-id="14" class="btn_cancel"><i class="material-icons" style="color:#FF0000">close</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

@section scripts {
    @Scripts.Render("~/Scripts/EquipamentoFixo/apontarNota.js")
}