<h2>Equipamento Fixo - Microprogramação (Consultar)</h2>
<form>
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="selectAno">Ano</label>
                <select class="form-control" id="selectAno">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="selectSemana">Semana</label>
                <select class="form-control" id="selectSemana">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="selectDepartamento">Departamento</label>
                <select class="form-control" id="selectDepartamento">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="selectCoordenacao">Coordenação</label>
                <select class="form-control" id="selectCoordenacao">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="selectSupervisao">Supervisão</label>
                <select class="form-control" id="selectSupervisao">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="selectStatusMicro">Status Micro</label>
                <select class="form-control" id="selectStatusMicro">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="text-right">
                <button type="button" class="btn btn-primary" disabled>Pesquisar</button>
                <button type="button" class="btn btn-primary" id="btn_visualizar_microprogramacao">Visualizar</button>
                <button type="button" class="btn btn-primary" disabled>Imprimir</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList1">
                        <label class="form-check-label" for="checkboxList1">Selecionar todas</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList1">
                        <label class="form-check-label" for="checkboxList1">PSS-2018-44_MTV_VPL-MEL_CFL</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList2">
                        <label class="form-check-label" for="checkboxList2">PSS-2018-44_MTV_VPL-MEL_SAL</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList3">
                        <label class="form-check-label" for="checkboxList3">PSS-2018-44_MTV_VPL-MEL_SPL</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList4">
                        <label class="form-check-label" for="checkboxList4">PSS-2018-44_MTV_VPL-MLE_CVL</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList5">
                        <label class="form-check-label" for="checkboxList5">PSS-2018-44_MTV_VPL-MML_IVL</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList6">
                        <label class="form-check-label" for="checkboxList6">PSS-2018-44_MTV_VPL-MPL_MEI</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList7">
                        <label class="form-check-label" for="checkboxList7">PSS-2018-44_MTV_VPL-MPL_MMI</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList8">
                        <label class="form-check-label" for="checkboxList8">PSS-2018-44_MTV_VPL-MSI_ISL</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList9">
                        <label class="form-check-label" for="checkboxList9">PSS-2018-44_MTV_VPL-SAN_LL3</label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkboxList10">
                        <label class="form-check-label" for="checkboxList10">PSS-2018-44_MTV_VPL-SAN_SIM</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>

@section scripts {
    @Scripts.Render("~/Scripts/EquipamentoFixo/consultarMicroprogramacao.js")
}