<h2>Equipamento Fixo - Envio de E-mail</h2>
<form>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="inputPara">Para</label>
                <input type="email" class="form-control" id="inputPara" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="inputAssunto">Assunto</label>
                <input type="text" class="form-control" id="inputAssunto">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="inputMensagem">Mensagem</label>
                <textarea class="form-control" id="inputMensagem" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="text-right">
                <button type="button" class="btn btn-primary">Enviar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </div>
    </div>
</form>