<h2>Equipamento Fixo - Finalizar Nota EP</h2>
<form>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nota</th>
                                    <th>Cntr tab</th>
                                    <th>Local de Instalação</th>
                                    <th>Conclusão</th>
                                    <th>Realizado em:</th>
                                    <th>Motivo</th>
                                    <th colspan="2">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding:30px 5px 0px 5px;">10002793</td>
                                    <td style="padding:30px 5px 0px 5px;">VPL14</td>
                                    <td style="padding:30px 5px 0px 5px;">M-L03-PEN-3VA</td>
                                    <td style="padding:25px 5px 0px 5px;">
                                        <select class="form-control" id="selectConclusao">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </td>
                                    <td style="width:40%" >
                                        <table border="0">
                                            <tr style="background-color: transparent;">
                                                <td>
                                                    <input type="text" class="form-control" id="inputData'">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" id="inputHora'">
                                                </td>
                                            </tr>
                                        </table>                                                
                                    </td>
                                    <td style="padding:25px 5px 0px 5px;">
                                        <select class="form-control" id="selectMotivoConclusao">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </td>

                                    <td style="padding:30px 5px 0px 5px;">
                                        <button type="button" class="btn btn-primary">Confirma</button>
                                    </td>
                                    <td style="padding:30px 5px 0px 5px;">
                                        <button type="button" class="btn btn-primary">Cancela</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>