<h2>Equipamento Fixo - Inserir Documento de Medição</h2>
<form>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Ponto de medição</th>
                                    <th>Valor medido</th>
                                    <th>Unidade</th>
                                    <th>Observação</th>
                                    <th>Data</th>
                                    <th>Hora</th>
                                    <th>Lido por</th>
                                    <th colspan="2">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table border="0">
                                            <tr style="background-color: transparent;">
                                                <td>
                                                    <input style="display: inline;" type="text" class="form-control" id="inputPontoMedicao'">
                                                </td>
                                                <td>
                                                    <i class="material-icons">search</i>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding:30px 5px 0px 5px;"><input type="text" class="form-control" id="inputValorMedido'"></td>
                                    <td style="padding:30px 5px 0px 5px;"><input type="text" class="form-control" id="inputUnidade'"></td>
                                    <td style="padding:30px 5px 0px 5px;"><input type="text" class="form-control" id="inputObservacao'"></td>
                                    <td style="padding:30px 5px 0px 5px;"><input type="datetime" class="form-control" id="inputData'"></td>
                                    <td style="padding:30px 5px 0px 5px;"><input type="time" class="form-control" id="inputHora'"></td>
                                    <td style="padding:30px 5px 0px 5px;"><input type="text" class="form-control" id="inputLidoPor'"></td>
                                    <td style="padding:30px 5px 0px 5px;"><i class="material-icons">clear</i></td>
                                    <td style="padding:30px 5px 0px 5px;"><i class="material-icons">add</i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>