<h2>Equipamento Fixo - Medidas (Consultar/Modificar)</h2>
<form>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectTipoNota">Tipo da Nota</label>
                        <select class="form-control" id="selectTipoNota">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectNota">Nota</label>
                        <input type="text" class="form-control" id="inputNota'">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectStatusSist">Status sist. nota</label>
                        <select class="form-control" id="selectStatusSist">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectStatus">Status nota</label>
                        <select class="form-control" id="selectStatus">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectLinha">Linha</label>
                        <select class="form-control" id="selectLinha">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectZona">Zona</label>
                        <select class="form-control" id="selectZona">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectSistema">Sistema</label>
                        <select class="form-control" id="selectSistema">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectEquipamento">Equipamento</label>
                        <select class="form-control" id="selectEquipamento">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectMaterial">Material</label>
                        <select class="form-control" id="selectMaterial">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectCentroTrabalho">Centro Trabalho</label>
                        <select class="form-control" id="selectCentroTrabalho">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-1">
                </div>

                <div class="col-sm-1">
                    <div class="form-group">
                        <label><br /></label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary">Filtrar</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label><br /></label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary">Limpar</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label><br /></label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary">Exportar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectGrpCodeMedida">Grp Code Medida</label>
                        <select class="form-control" id="selectGrpCodeMedida">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectCodeMedida">Code Medida</label>
                        <select class="form-control" id="selectCodeMedida">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectTpResp">Tp. Resp.</label>
                        <select class="form-control" id="selectTpResp">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectRespMedida">Resp. Medida</label>
                        <select class="form-control" id="selectRespMedida">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectDataDe">De:</label>
                        <input type="text" class="form-control" id="inputDataDe'">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectDataAte">Até:</label>
                        <input type="text" class="form-control" id="inputDataAte'">
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Nota</th>
                                    <th>Pacote</th>
                                    <th>Tp. Nota</th>
                                    <th>Linha</th>
                                    <th>Zona</th>
                                    <th>Sist.</th>
                                    <th>Complemento</th>
                                    <th>Equipamento</th>
                                    <th>Material</th>
                                    <th>Centro tra. resp.</th>
                                    <th>Txt. Grp. Code Medida</th>
                                    <th>Txt. Code Medida</th>
                                    <th>Txt. Medida</th>
                                    <th>Txt. Descr.</th>
                                    <th>Tp. Resp.</th>
                                    <th>Resp. Medida</th>
                                    <th>Data da medida</th>
                                    <th>Hora da Medida</th>
                                    <th>Status da medida</th>
                                    <th>Criada por</th>
                                    <th class="acao">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>100002760</td>
                                    <td>EC</td>
                                    <td>L01</td>
                                    <td>JAB</td>
                                    <td>5BE</td>
                                    <td>01</td>
                                    <td></td>
                                    <td></td>
                                    <td>OFJ01</td>
                                    <td>Status da nota</td>
                                    <td>Aberta</td>
                                    <td></td>
                                    <td></td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td>15011555</td>
                                    <td>EC</td>
                                    <td>M-L01-JAB-5ER-02</td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td>
                                        <a href="#" data-id="1" class="btn_cancel"><i class="material-icons" style="color:#FF0000">close</i></a>
                                        <a href="#" data-id="1" class="btn_accept"><i class="material-icons">done</i></a>
                                        <a href="#" data-id="1" class="btn_details"><i class="material-icons">search</i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>100002761</td>
                                    <td>ED</td>
                                    <td>L03</td>
                                    <td>CU</td>
                                    <td>5ER</td>
                                    <td>01</td>
                                    <td></td>
                                    <td></td>
                                    <td>ELM20</td>
                                    <td>Status da nota</td>
                                    <td>Em Execução</td>
                                    <td></td>
                                    <td></td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td>15011555</td>
                                    <td>EC</td>
                                    <td>M-L01-JAB-5ER-02</td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td>
                                        <a href="#" data-id="1" class="btn_details"><i class="material-icons">search</i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>100002760</td>
                                    <td>EP</td>
                                    <td>L02</td>
                                    <td>BFU</td>
                                    <td>4ME</td>
                                    <td>01</td>
                                    <td></td>
                                    <td></td>
                                    <td>MRSGC</td>
                                    <td>Status da nota</td>
                                    <td>Plantonista Copese</td>
                                    <td></td>
                                    <td></td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td>15011555</td>
                                    <td>EC</td>
                                    <td>M-L01-JAB-5ER-02</td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td>
                                        <a href="#" data-id="2" class="btn_details"><i class="material-icons">search</i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>100002760</td>
                                    <td>PC</td>
                                    <td>L01</td>
                                    <td>JAB</td>
                                    <td>3MC</td>
                                    <td>01</td>
                                    <td></td>
                                    <td></td>
                                    <td>OFJ01</td>
                                    <td>COPESE</td>
                                    <td>Em Transferência</td>
                                    <td></td>
                                    <td></td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td>15011555</td>
                                    <td>EC</td>
                                    <td>M-L01-JAB-5ER-02</td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td>
                                        <a href="#" data-id="3" class="btn_details"><i class="material-icons">search</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    @Scripts.Render("~/Scripts/EquipamentoFixo/pesquisarMedidas.js")
}