<h2>Equipamento Fixo - Programação (Planejamento)</h2>
<form>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectCentroTrabalho">Centro Trabalho</label>
                        <select class="form-control" id="selectCentroTrabalho">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectLinha">Linha</label>
                        <select class="form-control" id="selectLinha">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectZona">Zona</label>
                        <select class="form-control" id="selectZona">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectSistema">Sistema</label>
                        <select class="form-control" id="selectSistema">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="selectEquipamento">Equipamento</label>
                        <select class="form-control" id="selectEquipamento">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                            
                <div class="col-sm-1">
                    <div class="form-group">
                        <label><br /></label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary">Pesquisar</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="form-group">
                        <label><br /></label>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary">Limpar</button>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Nº Plano</th>
                                    <th>Pacote</th>
                                    <th>Local Instalação</th>
                                    <th>Descrição</th>
                                    <th>Data Planejada</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>15011555</td>
                                    <td>EC</td>
                                    <td>M-L01-JAB-5ER-02</td>
                                    <td>Corrimão direito</td>
                                    <td>03/02/2018</td>
                                    <td><button type="button" class="btn btn-primary">Planejar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>