@section styles {
    @Styles.Render("~/Content/css/gijgo.min.css")
}

<h2>Equipamento Fixo - Transferir Nota</h2>
<form>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nota</th>
                            <th>Local de Instalação</th>
                            <th>Sintoma</th>
                            <th>Prioridade</th>
                            <th>Data</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123456789098</td>
                            <td>123456789098-Teste-2</td>
                            <td>123456789098-Teste-2123456789098-Teste-2</td>
                            <td>12</td>
                            <td>25/01/2019</td>
                            <td>12:32:00</td>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label for="inputData">Data</label>
                                    <input id="inputData" width="150" />
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label for="inputHora">Hora</label>
                                    <input id="inputHora" type="time" width="120" />
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label for="inputResponsavel">Responsável</label>
                                    <input type="text" class="form-control" id="inputResponsavel">
                                </div>
                            </th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label for="inputMotivo">Motivo</label>
                                    <input type="text" class="form-control" id="inputMotivo">
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label for="inputCentroTrabalho">Centro de Trabalho</label>
                                    <input type="text" class="form-control" id="inputCentroTrabalho">
                                </div>
                            </th>
                            <td>
                                <div class="btn-toolbar">
                                    <button type="button" class="btn btn-primary" id="btnConfirmar">Confirmar</button>
                                    <button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>
                                </div>
                            <td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
    
@section scripts {
    @Scripts.Render("~/Scripts/gijgo.min.js")
    @Scripts.Render("~/Scripts/messages/messages.pt-br.min.js")
    @Scripts.Render("~/Scripts/EquipamentoFixo/transferirNota.js")
}