<h2>Equipamento Fixo - Programação (Planejamento)</h2>
<form>
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary">Limpar Filtro</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary">Micro Anterior</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary">Micro Posterior</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary">Imprimir</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="text-center">
                            <button type="button" class="btn btn-primary">Exportar</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>

            <br />

            <div class="row cabec">
                <div class="col-sm-2">
                    <img src="~/Content/images/metro-logo.gif" alt="" title="" />
                </div>

                <div class="col-sm-3">
                    <div class="row">
                        <font size="1">SCS - Programação De Serviços de Manutenção</font>
                    </div>
                    <div class="row">
                        <font size="1">Semana: 08/10/2018 a 14/10/2018</font>
                    </div>
                    <div class="row">
                        <font size="1">Equipe: <b>MTV_VPL_MEL_SAL (92-B-2)</b></font>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="row">
                        <font size="5">41 / 2018</font>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="row">
                        <font size="1">Data: @DateTime.Now</font>
                    </div>
                    <div class="row">
                        <font size="1">Emitente: MTT / PPA</font>
                    </div>
                </div>

                <div class="col-sm-1">
                    <br />
                    <div class="row">
                        <font size="1">R252046</font>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm">
                    <div class="table-responsive">
                        <table id="example" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Tipo Mn.</th>
                                    <th>Perid.</th>
                                    <th>Zona</th>
                                    <th>Equip.P.</th>
                                    <th>Sem/Ano Origem</th>
                                    <th></th>
                                    <th>Num Ordem</th>

                                    <th>Segunda 08/10/2018</th>
                                    <th>Terça 09/10/2018</th>
                                    <th>Quarta 10/10/2018</th>
                                    <th>Quinta 11/10/2018</th>
                                    <th>Sexta 12/10/2018</th>
                                    <th>Sabado 13/10/2018</th>
                                    <th>Domingo 14/10/2018</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr bgcolor="#D8D8D8">
                                    <td>1</td>
                                    <td>P1-A</td>
                                    <td>730 dias</td>
                                    <td>CEC</td>
                                    <td></td>
                                    <td>49/2018</td>
                                    <td></td>
                                    <td>GS4342</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2">OS 1/7<br />SIM[09/10/2018]<br />DE 00:00 ATÉ 03:00</td>
                                    <td rowspan="2">OS 2/7<br />SIM[10/10/2018]<br />DE 00:00 ATÉ 03:00</td>
                                    <td rowspan="2">OS 3/7<br />SIM[11/10/2018]<br />DE 00:00 ATÉ 03:00</td>
                                    <td rowspan="2">OS 4/7<br />SIM[12/10/2018]<br />DE 00:00 ATÉ 03:00</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                </tr>

                                <tr bgcolor="#D8D8D8">
                                    <td rowspan="2" colspan="8">MANUT. DE TOMADAS DE VIA 220 - CEC A REP ........<br />Tolerância (06/10/2018 a 03/02/2018) SCOD [TV22CECREP]<br />Tec. Programador: 25204</td>
                                </tr>

                                <tr bgcolor="#D8D8D8">
                                    <td colspan="8">Pedio [GS4342] ** NÃO DEVE ** ser fechado devido :[Existe 1 OS programadas depois da semana.]</td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>P1-B</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>41/2018</td>
                                    <td>31L</td>
                                    <td>GS4337</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2">OS 1-1<br />SIM[09/10/2018]<br />DE 00:00 ATÉ 06:00</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                </tr>

                                <tr>
                                    <td rowspan="2" colspan="8">MANUT.LUMIN./LAMPADA.FLUORES 2X200.OU.4X4OW - BFU A GBU ......<br />Tolerância (07/10/2018 a 14/10/2018) SCOD [LUO7BFUGBU]<br />Tec. Programador: 25204</td>
                                </tr>

                                <tr>
                                    <td colspan="8"></td>
                                </tr>

                                <tr bgcolor="#D8D8D8">
                                    <td>3</td>
                                    <td>P3-C</td>
                                    <td>730 dias</td>
                                    <td></td>
                                    <td></td>
                                    <td>40/2018</td>
                                    <td>3CV</td>
                                    <td>GQ7574</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2">OS 18/41<br />** Motivo 4 **<br />[REPROGRAMA]</td>
                                    <td rowspan="2">OS 19/41<br />** Motivo 5 **<br />[REPROGRAMA]<br />Obs 7</td>
                                    <td rowspan="2">OS 20/41<br />** Motivo 6 **<br />[REPROGRAMA]</td>
                                    <td rowspan="2"></td>
                                    <td rowspan="2"></td>
                                </tr>

                                <tr bgcolor="#D8D8D8">
                                    <td rowspan="2" colspan="8">MANUT. DE TOMADAS DE VIA 220 - CEC A REP ........<br />Tolerância (06/10/2018 a 03/022019) SCOD [TV22CECREP]<br />Tec. Programador: 25204</td>
                                </tr>

                                <tr bgcolor="#D8D8D8">
                                    <td colspan="8">Pedio [GQ7574] ** NÃO DEVE ** ser fechado devido :[Existe 4 OS a programar. Existe 19 OS programadas depois a semana.]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>