<h2>Apontar Ordem  </h2>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col form-group">
                <button type="button" class="btn btn-primary">Abrir Ordem</button>
                <button type="button" class="btn btn-primary">Imprimir</button>
                <button type="button" class="btn btn-primary">Paralisar</button>
                <button type="button" class="btn btn-primary">Finalizar</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nota</th>
                        <th scope="col">Ordem</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Criar Trab</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Local Instalação</th>
                        <th scope="col">Sintoma</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-3 font-weight-bold">Observação</div>
            <div class="col-sm-9">AAA</div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Prior</th>
                        <th scope="col">Notif</th>
                        <th scope="col">Linha</th>
                        <th scope="col">Local</th>
                        <th scope="col">Diag</th>
                        <th scope="col">Causa Raiz</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Histórico</th>
                        <th scope="col">Dt Inicio</th>
                        <th scope="col">Hr Inicio</th>
                        <th scope="col">Motivo (txt medida)</th>
                        <th scope="col">RG</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='font-weight-bold'>ABERTA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                    <tr>
                        <td class='font-weight-bold'>RECEBIDA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                    <tr>
                        <td class='font-weight-bold'>EM EXECUÇÃO</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                    <tr>
                        <td class='font-weight-bold'>PARALISADA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                    <tr>
                        <td class='font-weight-bold'>EM EXECUÇÃO</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                    <tr>
                        <td class='font-weight-bold'>FINALIZADA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <button type="button" class="btn btn-primary">Ordem</button>
            <button type="button" class="btn btn-primary">Intervenção</button>
            <button type="button" class="btn btn-primary">Tudo</button>
            <button type="button" class="btn btn-primary">Gravar</button>
            <button type="button" class="btn btn-primary">Cancelar</button>
        </div>
        <span class="font-weight-bold">Operação</span>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Texto Operação</th>
                        <th scope="col">Loc Instalação</th>
                        <th scope="col">Desc Loc Instalação</th>
                        <th scope="col">Num</th>
                        <th scope="col">Duração</th>
                        <th scope="col">Uni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                        <td>AAA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<span class="font-weight-bold">Mão de Obra</span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">CenTrab</th>
                <th scope="col">RG</th>
                <th scope="col">Dt Exec</th>
                <th scope="col">Dur</th>
                <th scope="col">Unid</th>
                <th scope="col">Tarifa</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<span class="font-weight-bold">Material</span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Componente</th>
                <th scope="col">Denominação</th>
                <th scope="col">Qtde</th>
                <th scope="col">Unid</th>
                <th scope="col">TI</th>
                <th scope="col">Centro</th>
                <th scope="col">Deposito</th>
                <th scope="col">Reserva/Req</th>
                <th scope="col">Loc Entrega</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
            </tr>
        </tbody>
    </table>
</div>
<span class="font-weight-bold">Meio auxiliar de produção</span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">MAP</th>
                <th scope="col">Denominação</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
            </tr>
        </tbody>
    </table>
</div>
        