<h2>Material Rodante - Programação de Trens (Consultar Detalhes da Programação)</h2>
<div class="row">
    <div class="form-group col-md-1">
        <label for="selectTrem">Trem</label>
        <span>FOE</span>
    </div>
    <div class="form-group col-md-1">
        <label for="selectPatio">Pátio</label>
        <span>PAT</span>
    </div>
    <div class="form-group col-md-1">
        <label for="selectPatio">Linha</label>
        <span>Linha 1</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputTipoManut">Tipo Manut</label>
        <span>n2a</span>
    </div>
    <div class="form-group col-md-2">
        <label for="selectEquipe">Equipe</label>
        <span>mrpms</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputDataEntrega">Data Entrega</label>
        <span>01/02/2018</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputHoraEntrega">Hora</label>
        <span>23:59</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputDataLiberacao">Data Liberação</label>
        <span>02/02/2018</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputHoraLiberacao">Hora</label>
        <span>04:59</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputObservacao">Observação</label>
        <span>ESTACIONAMENTO EM VIA</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputObservacao">Status</label>
        <span>Programada</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputSolicitante">Solicitante</label>
        <span>150669</span>
    </div>
    <div class="form-group col-md-2">
        <label for="inputResp">Resp</label>
        <span>ARI DE OLIVEIRA ROCHA</span>
    </div>
</div>
<span class="font-weight-bold">Notas vinculadas a programação</span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nota</th>
                <th scope="col">Ordem</th>
                <th scope="col">Local de Instalação</th>
                <th scope="col">Descrição Local de Instal</th>
                <th scope="col">Descr da Nota</th>
                <th scope="col">Txt Ciclo Manutenção</th>
                <th scope="col">Km Prev</th>
                <th scope="col">Km Perc</th>
                <th scope="col">Índice</th>
                <th scope="col">Equipe</th>
                <th scope="col">Dt Desejada</th>
                <th scope="col">Hr Desejada</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="form-group col">
        <button type="button" class="btn btn-primary">Voltar</button>
    </div>
</div>