<form>
    <br />
    <ul class="nav">
        <li class="nav-link active" id="TituloJumbo">
            <a data-toggle="tab">
                <h5>Material Rodante - Detalhes da Nota Corretiva (MC)</h5>
            </a>
        </li>
    </ul>
    <div class="tab-content jumbotron">
        <div class="tab-pane active in" id="first-tab">
            <div class="row">
                <div class="form-group col-md-2 col-lg-2 col-xl-1" id="fg_Frota">
                    <label for="txtFrota">Frota:</label>
                    <input type="text" class="form-control disabled" id="txtFrota" readonly>
                </div>
                <div class="form-group col-md-2 col-lg-2 col-xl-1" id="fg_Trem">
                    <label for="txtTrem">Trem:</label>
                    <input type="text" class="form-control disabled" id="txtTrem" readonly>
                </div>
                <div class="form-group col-md-2 col-lg-2 col-xl-1" id="fg_Carro">
                    <label for="txtCarro">Carro:</label>
                    <input type="text" class="form-control disabled" id="txtCarro" readonly>
                </div>
                <div class="form-group col-md-2 col-lg-2 col-xl-1" id="fg_Sistema">
                    <label for="txtSistema">Sistema:</label>
                    <input type="text" class="form-control disabled" id="txtSistema" readonly>
                </div>
                <div class="form-group col-md-8 col-lg-5 col-xl-4" id="fg_DescrLocInst">
                    <label for="txtDescrLocInst">Descrição do Local de Instalação:</label>
                    <input type="text" class="form-control disabled" id="txtDescrLocInst" readonly>
                </div>
                <div class="form-group col-md-8 col-lg-5 col-xl-4" id="fg_Sintoma">
                    <label for="txtSintoma">Sintoma:</label>
                    <input type="text" class="form-control disabled" id="txtSintoma" readonly>
                </div>
                <div class="form-group col-md-5 col-lg-3 col-xl-2" id="fg_Descr">
                    <label for="txtDescr">Descrição:</label>
                    <input type="text" class="form-control disabled" id="txtDescr" readonly>
                </div>
                <div class="form-group col-md-2 col-lg-2 col-xl-1" id="fg_Prioridade">
                    <label for="txtPrioridade">Prioridade:</label>
                    <input type="text" class="form-control disabled" id="txtPrioridade" readonly>
                </div>
                <div class="form-group col-md-4 col-lg-2 col-xl-2" id="fg_Notificador">
                    <label for="txtNotificador">Notificador:</label>
                    <input type="text" class="form-control disabled" id="txtNotificador" readonly>
                </div>
                <div class="form-group col-md-2 col-lg-2 col-xl-1" id="fg_Linha">
                    <label for="txtLinha">Linha:</label>
                    <input type="text" class="form-control disabled" id="txtLinha" readonly>
                </div>
                <div class="form-group col-md-2 col-lg-2 col-xl-1" id="fg_Local">
                    <label for="txtLocal">Local:</label>
                    <input type="text" class="form-control disabled" id="txtLocal" readonly>
                </div>
                <div class="form-group col-md-3 col-lg-3 col-xl-2" id="fg_CentroTrab">
                    <label for="txtCentroTrab" class="label-tamanho-125">Centro de Trabalho:</label>
                    <input type="text" class="form-control disabled" id="txtCentroTrab" readonly>
                </div>
                <div class="form-group col-md-12 col-lg-12 col-xl-12"></div>
                <div class="form-group col-md-12 col-lg-8 col-xl-7" id="fg_Obs">
                    <label for="txtObs">Observação:</label>
                    <textarea class="form-control disabled" id="txtObs" rows="4" readonly></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3 col-lg-2 col-xl-2 custom-control custom-checkbox" id="fg_InterfOperacional">
                    <input type="checkbox" class="custom-control-input" id="checkInterfOperacional" disabled>
                    <label class="custom-control-label" for="checkInterfOperacional">Interf. Operacional > 5 min</label>
                </div>
                <div class="form-group col-md-3 col-lg-2 col-xl-2 custom-control custom-checkbox" id="fg_IncidenteNotavel">
                    <input type="checkbox" class="custom-control-input" id="checkIncidenteNotavel" disabled>
                    <label class="custom-control-label" for="checkIncidenteNotavel">Incidente Notável</label>
                </div>
                <div class="form-group col-md-3 col-lg-2 col-xl-2 custom-control custom-checkbox" id="fg_Fumaca">
                    <input type="checkbox" class="custom-control-input" id="checkFumaca" disabled>
                    <label class="custom-control-label" for="checkFumaca">Fumaça</label>
                </div>
                <div class="form-group col-md-3 col-lg-2 col-xl-1 custom-control custom-checkbox" id="fg_Reboque">
                    <input type="checkbox" class="custom-control-input" id="checkReboque" disabled>
                    <label class="custom-control-label" for="checkReboque">Reboque</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md text-right">
            <button type="button" class="btn btn-primary">Voltar</button>
        </div>
    </div>
</form>