<h2>Material Rodante - Programação do Trem <span>XXX</span></h2>
<span class="font-weight-bold">Programação</span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Trem</th>
                <th scope="col">Tipo</th>
                <th scope="col">Equipe</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Local Solic</th>
                <th scope="col">Dt/Hr Solicitado</th>
                <th scope="col">Data/Hora Prev Lib</th>
                <th scope="col">Data/Hora Liberado</th>
                <th scope="col">Data/Hora Canc</th>
                <th scope="col">Resp</th>
                <th scope="col">Status</th>
                <th scope="col">Obs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
            </tr>
        </tbody>
    </table>
</div>
<span class="font-weight-bold">Notas Mp Vinculadas </span> <span class="font-weight-bold">Carteira de Notas MP </span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nota</th>
                <th scope="col">Ordem</th>
                <th scope="col">Local de Instalação</th>
                <th scope="col">Descrição Local de Instal</th>
                <th scope="col">Descr da Nota</th>
                <th scope="col">Txt Ciclo Manutenção</th>
                <th scope="col">Km Prev</th>
                <th scope="col">Km Perc</th>
                <th scope="col">Índice</th>
                <th scope="col">Equipe</th>
                <th scope="col">Dt Desejada</th>
                <th scope="col">Hr Desejada</th>
                <th scope="col">Status</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<span class="font-weight-bold">Notas MD/MS Vinculadas </span> <span class="font-weight-bold">Carteira de Notas MD/MS </span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Nota</th>
                <th scope="col">Ordem</th>
                <th scope="col">Local de Instalação</th>
                <th scope="col">Descrição Local de Instal</th>
                <th scope="col">Descr da Nota</th>
                <th scope="col">Equipe</th>
                <th scope="col">Dt Desejada</th>
                <th scope="col">Hr Desejada</th>
                <th scope="col">Status</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
                <td>AAA</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="form-group col">
        <button type="button" class="btn btn-primary">Voltar</button>
    </div>
</div>