<h2>Material Rodante - Documento de Medição Criar</h2>
<div class="row">
    <div class="form-group col-md-2">
        <label for="inputTrem">Nome da Lista</label>
        <input class="form-control" id="inputTrem">
    </div>
    <div class="form-group col-md-3">
        <label for="selectPatio">Denominação da Lista</label>
        <select class="form-control" id="selectPatio">
            <option></option>
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <button type="button" class="btn btn-primary">Filtrar</button>
        <button type="button" class="btn btn-primary">Limpar filtro</button>
        <button type="button" class="btn btn-primary">Exportar</button>
    </div>
</div>
<span class="font-weight-bold">Lista de pontos </span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Selecionar?</th>
                <th scope="col">Número</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><input type="checkbox"></td>
                <td>AAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="form-group col-md-2">
        <label for="selectLocalInstalacao">Local Instalação</label>
        <select class="form-control" id="selectLocalInstalacao">
            <option></option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="descricaoLocal">Descrição do Local</label>
        <input class="form-control" id="descricaoLocal">
    </div>
    <div class="form-group col-md-3">
        <label for="inputPontoMedicao">Ponto de medição</label>
        <input class="form-control" id="inputPontoMedicao">
    </div>
    <div class="form-group col-md-3">
        <label for="inputDenominacaoPonto">Denominação do Ponto</label>
        <input class="form-control" id="inputDenominacaoPonto">
    </div>
    <div class="form-group col-md-3">
        <label for="inputItemMedicao">Item de medição</label>
        <input class="form-control" id="inputItemMedicao">
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <button type="button" class="btn btn-primary">Filtrar</button>
        <button type="button" class="btn btn-primary">Limpar filtro</button>
    </div>
</div>
<span class="font-weight-bold">Ponto de medição </span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ponto de medição</th>
                <th scope="col">Denominação</th>
                <th scope="col">Tipo</th>
                <th scope="col">Característica</th>
                <th scope="col">Unidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">AAA</td>
                <td>AAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
            </tr>
        </tbody>
    </table>
</div>
<span class="font-weight-bold">Histórico do documento de medição </span>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pto Med</th>
                <th scope="col">Denominação</th>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Valor Medido</th>
                <th scope="col">Unidade</th>
                <th scope="col">Instrumento</th>
                <th scope="col">Resp</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">AAA</td>
                <td>AAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="form-group col">
        <button type="button" class="btn btn-primary">Gravar</button>
        <button type="button" class="btn btn-primary">Cancelar</button>
    </div>
</div>