<h2>Material Rodante - Pesquisar Manobra</h2>
<hr />
<div class="row">
    <div class="form-group col-md-1">
        <label for="selectLinha">Trem</label>
        <input type="text" class="form-control" id="inputTrem" />
    </div>
    <div class="form-group col-md-1">
        <label for="selectStatus">De</label>
        <input type="text" class="form-control" id="inputDataInicial" />
    </div>
    <div class="form-group col-md-1">
        <label for="selectLocal">Até</label>
        <input type="text" class="form-control" id="inputDataFinal" />
    </div>
    <div class="form-group col-md-2">
        <label for="inputTrensLiberados">Origem</label>
        <select class="form-control" id="selectOrigem"></select>
    </div>
    <div class="form-group col-md-2">
        <label for="selectDestino">Destino</label>
        <select class="form-control" id="selectDestino"></select>
    </div>
    <div class="form-group col-md-2">
        <label for="selectStatus">Status</label>
        <select class="form-control" id="selectStatus"></select>
    </div>
    <div class="form-group col-md-3">
        <label for="selectMotivo">Motivo</label>
        <select class="form-control" id="selectMotivo"></select>
    </div>
    <div class="form-group col-md-2">
        <label for="selectDuracaoManobra">Duração da Manobra</label>
        <select class="form-control" id="selectDuracaoManobra"></select>
    </div>
    <div class="form-group col-md-2">
        <label for="selectTrem">Tempo da Manobra</label>
        <input class="form-control" id="inputTotalTrens">
    </div>
</div>
<div class="row">
</div>
<div class="row">
    <div class="form-group col">
        <button type="button" class="btn btn-primary">Filtrar</button>
        <button type="button" class="btn btn-primary">Limpar filtro</button>
        <button type="button" class="btn btn-primary">Exportar</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Trem</th>
                <th scope="col">Origem</th>
                <th scope="col">Destino</th>
                <th scope="col">Motivo</th>
                <th scope="col">Data/Hr Solicitado</th>
                <th scope="col">Resp</th>
                <th scope="col">Data/Hr Autorizada</th>
                <th scope="col">Resp</th>
                <th scope="col">Data/Hr Início</th>
                <th scope="col">Data/Hr Fim</th>
                <th scope="col">Resp</th>
                <th scope="col">Status</th>
                <th scope="col">Solicitação</th>
                <th scope="col">Observação</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">AAA</td>
                <td>AAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
                <td>AAAA</td>
            </tr>
        </tbody>
    </table>
</div>