<h2>Material Rodante - Solicitar Manobra</h2>
<hr />
<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="inputTrem">Trem</label>
                <input class="form-control" id="inputTrem">
            </div>
            <div class="form-group col-md-3">
                <label for="selectOrigemPatio">Origem Patio</label>
                <select class="form-control" id="selectOrigemPatio">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="selectLinha">Linha</label>
                <select class="form-control" id="selectLinha"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="selectDestinoPatio">Destino Patio</label>
                <select class="form-control" id="selectDestinoPatio"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="selectLinha2">Linha</label>
                <select class="form-control" id="selectLinha2"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="selectMotivo">Motivo</label>
                <select class="form-control" id="selectMotivo"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputStatus">Status</label>
                <input class="form-control" id="inputStatus">
            </div>
            <div class="form-group col-md-3">
                <label for="inputResp">Resp</label>
                <input class="form-control" id="inputResp">
            </div>
            <div class="form-group col-md-3">
                <label for="inputObservacao">Observação</label>
                <input class="form-control" id="inputObservacao">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <button type="button" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-5" style="">
        <span>Linhas de destino</span>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="selectPatio">Patio</label>
                <select class="form-control" id="selectPatio">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="selectLinha">Linha</label>
                <select class="form-control" id="selectLinha">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="selectSituacaoLinha">Situação da Linha</label>
                <select class="form-control" id="selectSituacaoLinha"></select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary">Filtrar</button>
                <button type="button" class="btn btn-primary">Limpar Filtro</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Selecionar?</th>
                        <th scope="col">Pátio</th>
                        <th scope="col">Linha</th>
                        <th scope="col">Status</th>
                        <th scope="col">Trem</th>
                        <th scope="col">Obs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"><input type="checkbox"></td>
                        <td>AAA</td>
                        <td>AAAA</td>
                        <td>AAAA</td>
                        <td>AAAA</td>
                        <td>AAAA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>