<h2>Apontamento Serviço Interno</h2>
<form>
    <h5>Nota de Oficina:</h5>
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtNumNota">Número de Nota:</label>
                <input type="text" class="form-control" id="txtNotaOficina" value="Teste 123 12">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtDescrNota">Descrição da Nota:</label>
                <input type="text" class="form-control" id="txtDescrNota" value="Campo 20 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="txtTpNota">Tipo de Nota:</label>
                <input type="text" class="form-control" id="txtTpNota" value="2" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtStatusSistema">Status do Sistema:</label>
                <input type="text" class="form-control" id="txtStatusSistema" value="1234" disabled>
            </div>
        </div>
        <div class="col-md-5 col-lg-3">
            <div class="form-group">
                <label for="txtStatusUsuario">Status do Usuário:</label>
                <input type="text" class="form-control" id="txtStatusUsuario" value="Campo 20 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtDtNota">Data da Nota:</label>
                <input type="text" class="form-control" id="txtDtNota" value="10/01/2010" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="form-group">
                <label for="txtNotificador">Notificador:</label>
                <input type="text" class="form-control" id="txtNotificador" value="Teste Tes" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtOrdem">Ordem:</label>
                <input type="text" class="form-control" id="txtOrdem" value="12/03/2019 12" disabled>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="txtPrioridade">Prioridade:</label>
                <input type="text" class="form-control" id="txtPrioridade" value="1" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtEtiqueta">Etiqueta:</label>
                <input type="text" class="form-control" id="txtEtiqueta" value="Campo 12 234" disabled>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="txtDadosAdicionais">Dados Adicionais:</label>
                <textarea class="form-control" id="txtDadosAdicionais" rows="4"></textarea>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="txtCentroTrab">Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtCentroTrab" value="Campo 08" disabled>
            </div>
        </div>
        <div class="col-md-5 col-lg-4">
            <div class="form-group">
                <label for="txtDescrCentroTrab">Descrição do Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtDescrCentroTrab" value="Campo 20 23456789098" disabled>
            </div>
        </div>
    </div>
</form>
<form>
    <h5>Nota de Referencia:</h5>
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtNotaReferen">Nota de Referência:</label>
                <input type="text" class="form-control" id="txtNotaReferen" value="Teste 123 12">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="txtTpNota">Tipo de Nota:</label>
                <input type="text" class="form-control" id="txtTpNota" value="12" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="txtDtAbertura">Data de Abertura:</label>
                <input type="text" class="form-control" id="txtDtAbertura" value="10/10/2010" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtEquipe">Equipe:</label>
                <input type="text" class="form-control" id="txtEquipe" value="Campo 20" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtDescrNota">Descrição da Nota:</label>
                <input type="text" class="form-control" id="txtDescrNota" value="Campo 20 123" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtLocalInstEquip">Local Inst./Equip:</label>
                <input type="text" class="form-control" id="txtLocalInstEquip" value="Campo 20 12345678909" disabled>
            </div>
        </div>
        <div class="col-md-7 col-lg-5">
            <div class="form-group">
                <label for="txtOrdem">Descrição do Local de Instalação/Equipamento:</label>
                <input type="text" class="form-control" id="txtOrdem" value="Campo 20 12345678909" disabled>
            </div>
        </div>
    </div>
</form>
<form>
    <h5>Medidas:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Histórico</th>
                            <th>Data de Início</th>
                            <th>Hora de Início</th>
                            <th>Motivo (txt Medida)</th>
                            <th>Responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Aberta</td>
                            <td>10/10/2010</td>
                            <td>12h30:00</td>
                            <td>Descrição de teste tes teste teste tes40</td>
                            <td>Descrição d </td>
                        </tr>
                        <tr>
                            <td>Recebida</td>
                            <td>10/10/2010</td>
                            <td>12h30:00</td>
                            <td>Descrição de teste tes teste teste tes40</td>
                            <td>Descrição d </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<br>
<form>
    <h5>Operação:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Seleção</th>
                            <th>Número Lista</th>
                            <th>Descrição Lista de Tarefas</th>
                            <th>Texto Operação</th>
                            <th>Número</th>
                            <th>Duração</th>
                            <th>Unidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Campo 20 12345678789</td>
                            <td>Campo 20 12345678789</td>
                            <td>Descrição de teste tes teste teste tes40</td>
                            <td>123</td>
                            <td>123</td>
                            <td>123</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<br>
<form>
    <h5>Mão de Obra:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Centro de Trabalho</th>
                            <th>RG</th>
                            <th>Data de Execução</th>
                            <th>Duração</th>
                            <th>Unidade</th>
                            <th>Tarifa</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Campo 08</td>
                            <td>45.860.860-03</td>
                            <td>12/09/1220</td>
                            <td>140</td>
                            <td>min</td>
                            <td>Campo 18 123456789</td>
                            <td class="acao">
                                <i class="material-icons" id="excluir">clear</i>
                                <i class="material-icons" id="incluir">add</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<br>
<form>
    <h5>Material:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Componente</th>
                            <th>Denominação</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                            <th>TI</th>
                            <th>Reserva/Req</th>
                            <th>Local de Entrega</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Campo 18 123456789</td>
                            <td>Campo 40 12345612789Campo 40 12345612789</td>
                            <td>Campo 18 123456789</td>
                            <td>140</td>
                            <td>Campo 10 0</td>
                            <td>Campo 12 789</td>
                            <td>Campo 20 12345678789</td>
                            <td class="acao">
                                <i class="material-icons" id="excluir">clear</i>
                                <i class="material-icons" id="incluir">add</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<form>
    <div class="row">
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary salvarNota" id="btnSalvar">Salvar</button>
                <button type="button" class="btn btn-primary encerrarNota" id="btnEncerrar">Encerrar</button>
                <button type="button" class="btn btn-primary cancelarNota" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</form>
@section scripts {
    @Scripts.Render("~/Scripts/Oficina/apontarNotaOrdemPrestacaoServico.js")
}