<h2>Nota de Prestação de Serviço (Detalhes)</h2>
<form>
<h5>Nota de Referência:</h5>
<div class="row">
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtNotaReferen">Nota de Referência:</label>
            <input type="text" class="form-control" id="txtNotaReferen" value="Teste 123 12" disabled>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="txtTpNotaR">Tipo de Nota:</label>
            <input type="text" class="form-control" id="txtTpNotaR" value="12" disabled>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtDescrNotaR">Descrição da Nota:</label>
            <input type="text" class="form-control" id="txtDescrNotaR" value="Teste 123 12" disabled>
        </div>
    </div>
    <div class="col-md-4 col-lg-3">
        <div class="form-group">
            <label for="txtDescrEquipamento">Descrição do Equipamento:</label>
            <input type="text" class="form-control" id="txtDescrEquipamento" value="Teste 123 12 Teste20" disabled>
        </div>
    </div>
    <div class="col-md-4 col-lg-3">
        <div class="form-group">
            <label for="txtDescrMaterial">Descrição do Material:</label>
            <input type="text" class="form-control" id="txtDescrMaterial" value="Teste 123 12 Teste20" disabled>
        </div>
    </div>
</div>
<h5>Nota de Oficina:</h5>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="txtTpNotaO">Tipo de Nota:</label>
            <input type="text" class="form-control" id="txtTpNotaO" value="12" disabled>
        </div>
    </div>
    <div class="col-md-7 col-lg-6 col-xl-4">
        <div class="form-group">
            <label for="txtDescrNotaO">Descrição da Nota:</label>
            <input type="text" class="form-control" id="txtDescrNotaO" value="Teste 123 12 Teste20Teste 123 12 Teste40" disabled>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtNumNota">Número da Nota:</label>
            <input type="text" class="form-control" id="txtNumNota" value="Retorno Cons" disabled>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtStatusNota">Status da Nota:</label>
            <input type="text" class="form-control" id="txtStatusNota" value="Retr" disabled>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtStatusUsuario">Status do Usuário:</label>
            <input type="text" class="form-control" id="txtStatusUsuario" value="Retr" disabled>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtPrioridade">Prioridade:</label>
            <input type="text" class="form-control" id="txtPrioridade" value="Teste 123 12" disabled>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtEtiqueta">Etiqueta:</label>
            <input type="text" class="form-control" id="txtEtiqueta" value="Teste 123 12" disabled>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtTempoPrevisto">Tempo Previsto:</label>
            <input type="text" class="form-control" id="txtTempoPrevisto" value="1234" disabled>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="txtUn">Unidade:</label>
            <input type="text" class="form-control" id="txtUn" value="min" disabled>
        </div>
    </div>
    <div class="col-md-3 col-lg-2">
        <div class="form-group">
            <label for="txtCentroTrab">Centro de Trabalho:</label>
            <input type="text" class="form-control" id="txtCentroTrab" value="1234 Tes" disabled>
        </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="form-group">
            <label for="txtDescrCentroTrab">Descrição do Centro de Trabalho:</label>
            <input type="text" class="form-control" id="txtDescrCentroTrab" value="Teste teste teste teste teste 1234567890" disabled>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="txtDadosAdicionais">Dados Adicionais:</label>
            <textarea class="form-control" id="txtDadosAdicionais" rows="3" disabled></textarea>
        </div>
    </div>
    <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="form-group">
            <label for="txtNomeCliente">Nome do Cliente:</label>
            <input type="text" class="form-control" id="txtNomeCliente" value="Teste teste teste teste teste 1234567890" disabled>
        </div>
    </div>
    <div class="col-md-3 col-xl-2">
        <div class="form-group">
            <label for="txtNumContrato">N° do Contrato</label>
            <input type="text" class="form-control" id="txtNumContrato" value="Teste teste tes18" disabled>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="text-right">
            <button type="button" class="btn btn-primary" id="btnFechar">Fechar</button>
        </div>
    </div>
</div>
</form>