<h2>Detalhes da Nota OC / OP / OL</h2>
<form>
    <h5>Nota de Referência:</h5>
    <div class="row">
        <div class="col-md-3 col-xl-2">
            <div class="form-group">
                <label for="txtNotaReferen">Nota de Referência:</label>
                <input type="text" class="form-control" id="txtNotaReferen" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="txtTpNota">Tipo de Nota:</label>
                <input type="text" class="form-control" id="txtTpNota" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-7 col-lg-5 col-xl-4">
            <div class="form-group">
                <label for="txtDescrNota">Descrição da Nota:</label>
                <input type="text" class="form-control" id="txtDescrNota" value="TRetorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="form-group">
                <label for="txtLocalInstEquipMaterial">Local de Instalação/Equipamento/Material:</label>
                <input type="text" class="form-control" id="txtLocalInstEquipMaterial" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-12 col-lg-10 col-xl-7">
            <div class="form-group">
                <label for="txtDescrLocalInstEquipMaterial">Descrição do Local de Instalação/Equipamento/Material:</label>
                <input type="text" class="form-control" id="txtDescrLocalInstEquipMaterial" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-4 col-xl-2">
            <div class="form-group">
                <label for="txtSintoma">Sintoma:</label>
                <input type="text" class="form-control" id="txtSintoma" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="form-group">
                <label for="txtDataAbertura">Data de Abertura:</label>
                <input type="text" class="form-control" id="txtDataAbertura" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="form-group">
                <label for="txtDataEncerramento">Data de Encerramento:</label>
                <input type="text" class="form-control" id="txtDataEncerramento" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-12 col-lg-5 col-xl-6">
            <div class="form-group">
                <label for="txtCentroTrab">Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtCentroTrab" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-12 col-xl-11">
            <div class="form-group">
                <label for="txtObs">Observação:</label>
                <textarea class="form-control" id="txtObs" rows="4" disabled></textarea>
            </div>
        </div>
    </div>
    <h5>Nota de Oficina:</h5>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="selectTpNota">Tipo de Nota:</label>
                <input type="text" class="form-control" id="selectTpNota" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="form-group">
                <label for="txtDescrNota">Descrição da Nota:</label>
                <input type="text" class="form-control" id="txtDescrNota" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtNumNota">Número da Nota:</label>
                <input type="text" class="form-control" id="txtNumNota" value="Retorno Cons" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtStatusNota">Status da Nota:</label>
                <input type="text" class="form-control" id="txtStatusNota" value="Retr" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtStatusUsuario">Status do Usuário:</label>
                <input type="text" class="form-control" id="txtStatusUsuario" value="Retr" disabled>
            </div>
        </div>
        <div class="col-md-12 col-xl-11">
            <div class="form-group">
                <label for="txtObs">Obervação:</label>
                <textarea class="form-control" id="txtObs" rows="4" disabled></textarea>
            </div>
        </div>
        <div class="col-md-3 col-xl-2">
            <div class="form-group">
                <label for="selectPrioridade">Prioridade:</label>
                <input type="text" class="form-control" id="selectPrioridade" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="form-group">
                <label for="txtEtiqueta">Etiqueta:</label>
                <input type="text" class="form-control" id="txtEtiqueta" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtElementoPEP">Elemento PEP:</label>
                <input type="text" class="form-control" id="txtElementoPEP" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-10 col-lg-4">
            <div class="form-group">
                <label for="txtDescrElementoPEP">Descrição do Elemento PEP:</label>
                <input type="text" class="form-control" id="txtDescrElementoPEP" value="Teste teste teste teste teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="form-group">
                <label for="txtEquipamento">Equipamento:</label>
                <input type="text" class="form-control" id="txtEquipamento" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-8 col-xl-4">
            <div class="form-group">
                <label for="txtDescrEquipamento">Descrição do Equipamento:</label>
                <input type="text" class="form-control" id="txtDescrEquipamento" value="Teste teste teste teste teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="txtNumSerie">Núm. Série:</label>
                <input type="text" class="form-control" id="txtNumSerie" value="e teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="form-group">
                <label for="txtNumIdTecnica">Núm. Id. Técnica:</label>
                <input type="text" class="form-control" id="txtNumIdTecnica" value="e teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="form-group">
                <label for="txtNumInventario">Núm. Inventário:</label>
                <input type="text" class="form-control" id="txtNumInventario" value="e teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtCodMaterial">Cód. Material:</label>
                <input type="text" class="form-control" id="txtCodMaterial" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtDescrMaterial">Descrição do Material:</label>
                <input type="text" class="form-control" id="txtDescrMaterial" value="ste teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtQtdeLote">Quantidade (Lote):</label>
                <input type="text" class="form-control" id="txtQtdeLote" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtGiro">Giro:</label>
                <input type="text" class="form-control" id="txtGiro" value="e teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtQtdeIndispon">Qtde. Indisponível:</label>
                <input type="text" class="form-control" id="txtQtdeIndispon" value="e teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="selectCentroTrab">Centro de Trabalho:</label>
                <input type="text" class="form-control" id="selectCentroTrab" value="Retorno Consulta" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="txtDescrCentroTrab">Descrição do Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtDescrCentroTrab" value="Teste teste teste teste teste 1234567890" disabled>
            </div>
        </div>
    </div>
    <h5>Tarefas do Elemento PEP:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Grupo</th>
                            <th>Número</th>
                            <th>Nome da Lista de Tarefas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1234</td>
                            <td>12345678910098765412</td>
                            <td>Descrição de teste tes teste teste tes40</td>
                        </tr>
                        <tr>
                            <td>1234</td>
                            <td>12345678910098765412</td>
                            <td>Descrição de teste tes teste teste tes40</td>
                        </tr>
                        <tr>
                            <td>1234</td>
                            <td>12345678910098765412</td>
                            <td>Descrição de teste tes teste teste tes20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h5>Lista de Materiais:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Lista Tarefa</th>
                            <th>Operação</th>
                            <th>Código</th>
                            <th>Denominação</th>
                            <th>Qtde</th>
                            <th>Uni.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123456789009876543</td>
                            <td>12345678</td>
                            <td>123456789009876543</td>
                            <td>es teste teste tes20</td>
                            <td>123456789009876543</td>
                            <td>PEÇ</td>
                        </tr>
                        <tr>
                            <td>123456789009876543</td>
                            <td>12345678</td>
                            <td>123456789009876543</td>
                            <td>es teste teste tes20</td>
                            <td>123456789009876543</td>
                            <td>PEÇ</td>
                        </tr>
                        <tr>
                            <td>123456789009876543</td>
                            <td>12345678</td>
                            <td>123456789009876543</td>
                            <td>es teste teste tes20</td>
                            <td>123456789009876543</td>
                            <td>PEÇ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary" id="btnFechar">Fechar</button>
            </div>
        </div>
    </div>
</form>