<h2>Liberar Equipamento/Material Individualmente</h2>
<form>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtNumNota">Número da Nota:</label>
                <input type="text" class="form-control" id="txtNumNota" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-2 col-lg-3 col-xl-2">
            <div class="form-group">
                <label for="txtTpNota">Tipo de Nota:</label>
                <input type="text" class="form-control" id="txtTpNota" value="12">
            </div>
        </div>
        <div class="col-md-7 col-lg-6 col-xl-4">
            <div class="form-group">
                <label for="txtDescrNota">Descrição da Nota:</label>
                <input type="text" class="form-control" id="txtDescrNota" value="Campo 40 TesteTesteTCampo 40 TesteTesteT">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtEquipamento">Equipamento:</label>
                <input type="text" class="form-control" id="txtEquipamento" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-7 col-lg-6 col-xl-5">
            <div class="form-group">
                <label for="txtDescrEquipamento">Descrição do Equipamento:</label>
                <input type="text" class="form-control" id="txtDescrEquipamento" value="Campo 40 TesteTesteTCampo 40 TesteTesteT">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="txtNumSerie">Número de Série:</label>
                <input type="text" class="form-control" id="txtNumSerie" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-3">
            <div class="form-group">
                <label for="txtNumIdentifiTecn">Número de Identificação Técnica:</label>
                <input type="text" class="form-control" id="txtNumIdentifiTecn" value="Campo 18 TesteTest">
            </div>
        </div>
        <div class="col-md-5 col-lg-4 col-xl-3">
            <div class="form-group">
                <label for="txtNumIventario">Número Iventário:</label>
                <input type="text" class="form-control" id="txtNumIventario" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtCodMaterial">Código do Material:</label>
                <input type="text" class="form-control" id="txtCodMaterial" value="Campo 18 TesteTest">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtDescrMaterial">Descrição do Material:</label>
                <input type="text" class="form-control" id="txtDescrMaterial" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtGiro">Giro:</label>
                <input type="text" class="form-control" id="txtGiro" value="Campo 18 TesteTest">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtQtdeIndispon">Quantidade Indisponível:</label>
                <input type="text" class="form-control" id="txtQtdeIndispon" value="Campo 18 TesteTest">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtCentroTrab">Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtCentroTrab" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-8 col-lg-5 col-xl-4">
            <div class="form-group">
                <label for="txtDescrCentroTrab">Descrição do Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtDescrCentroTrab" value="Campo 40 TesteTesteTCampo 40 TesteTesteT">
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="form-group">
                <label for="txtDtLiberacao">Data de Liberação:</label>
                <input type="text" class="form-control" id="txtDtLiberacao" value="10/10/2010">
            </div>
        </div>
        <div class="col-md-8 col-lg-5 col-xl-6">
            <div class="form-group">
                <label for="selectSituacaoEquipMaterial">Situação do Equipamento/Material:</label>
                <select class="form-control" id="selectSituacaoEquipMaterial">
                    <option selected>Campo 40 TesteTesteTCampo 40 TesteTesteT</option>
                    <option>18</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtStatusSistema">Status do Sistema:</label>
                <input type="text" class="form-control" id="txtStatusSistema" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtStatusUsuario">Status do Usuário:</label>
                <input type="text" class="form-control" id="txtStatusUsuario" value="Campo 20 TesteTesteT">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary" id="btnFiltrar">Filtrar</button>
                <button type="reset" class="btn btn-primary" id="btnLimpar">Limpar</button>
            </div>
        </div>
    </div>
    <h5>Estrutura:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Equipamento</th>
                            <th>Denominação</th>
                            <th>Código do Material</th>
                            <th>Número de Série</th>
                            <th>Identificação Técnica</th>
                            <th>Subequipamento</th>
                            <th>Tipo</th>
                            <th class="acao">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Campo 18 Teste test</td>
                            <td>Campo 20 Teste testeT</td>
                            <td>Campo 20 Teste testeT</td>
                            <td>Campo 18 Teste test</td>
                            <td>Campo 20 Teste testeT</td>
                            <td>Campo 20 Teste testeT</td>
                            <td>1</td>
                            <td>EQUI</td>
                            <td>
                                <a href="#" data-id="1" class="btn_mount"><i class="material-icons">build</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h5>Planos:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Plano</th>
                            <th>Denominação</th>
                            <th>Tipo</th>
                            <th>Reiniciar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Campo 12 Tes</td>
                            <td>Campo 40 Teste testeTCampo 20 Teste testeT</td>
                            <td>0004</td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary liberarNota" id="btnLiberar">Liberar</button>
                <button type="button" class="btn btn-primary cancelarNota" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</form>
   
@section scripts {
    @Scripts.Render("~/Scripts/Oficina/liberarEquipamentoMaterialIndividualmente.js")
}