<h2>Liberar Material em Lote</h2>
<form>
    <h5>Nota de Oficina:</h5>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtCodMaterial">Código do Material:</label>
                <input type="text" class="form-control" id="txtCodMaterial" value="Campo 18 TesteTest">
            </div>
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="form-group">
                <label for="txtDescrMaterial">Descrição do Material:</label>
                <input type="text" class="form-control" id="txtDescrMaterial" value="Campo 40 TesteTesteTCampo 20 TesteTesteT" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtGiro">Giro:</label>
                <input type="text" class="form-control" id="txtGiro" value="Campo 18 TesteTest" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtGiro">Quantidade Máxima Liberável:</label>
                <input type="text" class="form-control" id="txtGiro" value="Campo 18 TesteTest" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtCentroTrab">Centro de trabalho:</label>
                <input type="text" class="form-control" id="txtCentroTrab" value="Campo 20 asTesteTest">
            </div>
        </div>
        <div class="col-md-9 col-lg-6 col-xl-4">
            <div class="form-group">
                <label for="txtDescrCentroTrab">Descrição do Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtDescrCentroTrab" value="Campo 40 TesteTesteTCampo 20 TesteTesteT" disabled>
            </div>
        </div>
        <div class="col-md-3 col-xl-2">
            <div class="form-group">
                <label for="txtDtLiberacao">Data de Liberação:</label>
                <input type="text" class="form-control" id="txtDtLiberacao" value="10/10/2010">
            </div>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="form-group">
                <label for="selectSituacaoLiberacao">Situação de Liberação:</label>
                <select class="form-control" id="selectSituacaoLiberacao">
                    <option selected>Campo 40 TesteTesteTCampo 40 TesteTesteT</option>
                    <option>18</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtQtdeLote">Quantidade (Lote):</label>
                <input type="text" class="form-control" id="txtQtdeLote" value="Campo 18 TesteTest">
            </div>
        </div>
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary" id="btnFiltrar">Filtrar</button>
                <button type="reset" class="btn btn-primary" id="btnLimpar">Limpar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Liberação</th>
                            <th>Nota</th>
                            <th>Recebimento</th>
                            <th>Descrição da Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Campo 12 123</td>
                            <td>10/10/2010</td>
                            <td>Campo 40 TesteTesteTCampo 20 TesteTesteT</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary" id="btnLiberar">Liberar</button>
                <button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</form>
   