<h2>Montar Subequipamento</h2>
<form>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtEquipamento">Equipamento:</label>
                <input type="text" class="form-control" id="txtEquipamento" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtDenominacao">Denominação:</label>
                <input type="text" class="form-control" id="txtDenominacao" value="12">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtCodMaterial">Código do Material:</label>
                <input type="text" class="form-control" id="txtCodMaterial" value="Campo 18 TesteTest">
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="form-group">
                <label for="txtNumSerie">Número de Série:</label>
                <input type="text" class="form-control" id="txtNumSerie" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md-5 col-lg-4 col-xl-3">
            <div class="form-group">
                <label for="txtNumIdentTec">Número de Identificação Técnica:</label>
                <input type="text" class="form-control" id="txtNumIdentTec" value="Campo 20 TesteTesteT">
            </div>
        </div>
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary" id="btnFiltrar">Filtrar</button>
                <button type="reset" class="btn btn-primary" id="btnLimpar">Limpar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Selecionar</th>
                            <th>Equipamento</th>
                            <th>Denominação</th>
                            <th>Código Material</th>
                            <th>Número de Série</th>
                            <th>Identificação Técnica</th>
                            <th>Subequipamento</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Campo 20 Teste testeT</td>
                            <td>Campo 40 Teste testeTCampo 20 Teste testeT</td>
                            <td>Campo 18 Teste test</td>
                            <td>Campo 20 Teste testeT</td>
                            <td>Campo 20 Teste testeT</td>
                            <td>1</td>
                            <td>EQUI</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary" id="btnMontar">Montar</button>
                <button type="button" class="btn btn-primary" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</form>
 