<h2>Nota de Serviço Interno (@(ViewBag.Action == "new" ? "Criar" : "Editar"))</h2>
<form>
    <!-- Modal -->
    <div class="modal fade" id="modal_center" tabindex="-1" role="dialog" aria-labelledby="CancelarNota" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Cancelamento da Nota</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Informe o motivo do cancelamento</p>
                    <textarea id="motivoCancelamento" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btConfirmCancelamento">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <!--/Modal-->

    <h5>Nota de Referência:</h5>
    <div class="row">
        <div class="col-md-3 col-xl-2">
            <div class="form-group">
                <label for="txtNotaReferen">Nota de Referência:</label>
                <input type="text" class="form-control" id="txtNotaReferen" value="Teste 123 12">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="txtTpNota">Tipo de Nota:</label>
                <input type="text" class="form-control" id="txtTpNota" value="12" disabled>
            </div>
        </div>
        <div class="col-md-7 col-lg-5 col-xl-4">
            <div class="form-group">
                <label for="txtDescrNota">Descrição da Nota:</label>
                <input type="text" class="form-control" id="txtDescrNota" value="Teste 123 12 Teste 12345 Teste 213478 40" disabled>
            </div>
        </div>
        <div class="col-md-12 col-lg-10 col-xl-6">
            <div class="form-group">
                <label for="txtLocalInstEquipMaterial">Local de Instalação/Equipamento/Material:</label>
                <input type="text" class="form-control" id="txtLocalInstEquipMaterial" value="Teste 123 12 Teste20 | Teste 123 12 Teste20 | Teste 123 12 Tes18" disabled>
            </div>
        </div>
        <div class="col-md-12 col-lg-10 col-xl-7">
            <div class="form-group">
                <label for="txtDescrLocalInstEquipMaterial">Descrição do Local de Instalação/Equipamento/Material:</label>
                <input type="text" class="form-control" id="txtDescrLocalInstEquipMaterial" value="Teste 123 12 Teste20 | Teste 123 12 Teste20Teste 123 12 Teste40 | Teste 123 12 Teste20" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="form-group">
                <label for="txtDataAbertura">Data de Abertura:</label>
                <input type="text" class="form-control" id="txtDataAbertura" value="12/03/2019" disabled>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-2">
            <div class="form-group">
                <label for="txtDataEncerramento">Data de Encerramento:</label>
                <input type="text" class="form-control" id="txtDataEncerramento" value="12/03/2019" disabled>
            </div>
        </div>
        <div class="col-md-8 col-lg-5 col-xl-4">
            <div class="form-group">
                <label for="txtCentroTrab">Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtCentroTrab" value="Teste TESTE 12345620Teste TESTE 12345620" disabled>
            </div>
        </div>
        <div class="col-md-12 col-lg-11">
            <div class="form-group">
                <label for="txtObs">Observação:</label>
                <textarea class="form-control" id="txtObs" rows="4" disabled></textarea>
            </div>
        </div>
    </div>
    <h5>Nota de Oficina:</h5>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="selectTpNota">Tipo de Nota:</label>
                <select class="form-control" id="selectTpNota">
                    <option selected>12</option>
                    <option>18</option>
                </select>
            </div>
        </div>
        <div class="col-md-5 col-xl-4">
            <div class="form-group">
                <label for="txtDescrNota">Descrição da Nota:</label>
                <input type="text" class="form-control" id="txtDescrNota" value="Teste 123 12 Teste20Teste 123 12 Teste40">
            </div>
        </div>
        <div class="col-md-3 col-xl-2">
            <div class="form-group">
                <label for="txtTempoPrevisto">Tempo Previsto:</label>
                <input type="text" class="form-control" id="txtTempoPrevisto" value="1234">
            </div>
        </div>
        <div class="col-md-2 col-xl-1">
            <div class="form-group">
                <label for="txtUn">Unidade:</label>
                <input type="text" class="form-control" id="txtUn" value="min">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="txtElementoPEP">Elemento PEP:</label>
                <input type="text" class="form-control" id="txtElementoPEP" value="1234 Teste TESTE 120">
            </div>
        </div>
        <div class="col-md-6 col-xl-5">
            <div class="form-group">
                <label for="txtDescrElementoPEP">Descrição do Elemento PEP:</label>
                <input type="text" class="form-control" id="txtDescrElementoPEP" value="Teste teste teste teste teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="selectCentroTrab">Centro de Trabalho:</label>
                <select class="form-control" id="selectCentroTrab">
                    <option selected>Teste 12</option>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xl-5">
            <div class="form-group">
                <label for="txtDescrCentroTrab">Descrição do Centro de Trabalho:</label>
                <input type="text" class="form-control" id="txtDescrCentroTrab" value="Teste teste teste teste teste 1234567890" disabled>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="selectPrioridade">Prioridade:</label>
                <select class="form-control" id="selectPrioridade">
                    <option selected>Teste 123456</option>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="txtEtiqueta">Etiqueta:</label>
                <input type="text" class="form-control" id="txtEtiqueta" value="Teste 123 12">
            </div>
        </div>
        <div class="col-md-12 col-lg-10 col-xl-9">
            <div class="form-group">
                <label for="txtDadosAdicionais">Dados Adicionais:</label>
                <textarea class="form-control" id="txtDadosAdicionais" rows="4"></textarea>
            </div>
        </div>
    </div>
    <h5>Tarefas do Elemento PEP:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Selecionar</th>
                            <th>Grupo</th>
                            <th>Número</th>
                            <th>Nome da Lista de Tarefas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1234</td>
                            <td>12345678910098765412</td>
                            <td>Descrição de teste tes teste teste tes40</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1234</td>
                            <td>12345678910098765412</td>
                            <td>Descrição de teste tes teste teste tes40</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1234</td>
                            <td>12345678910098765412</td>
                            <td>Descrição de teste tes teste teste tes20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h5>Tarefas do Elemento PEP:</h5>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Lista Tarefa</th>
                            <th>Operação</th>
                            <th>Código</th>
                            <th>Denominação</th>
                            <th>Quantidade</th>
                            <th>Unidade</th>
                            <th>Reserva</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123456789009876543</td>
                            <td>12345678</td>
                            <td>123456789009876543</td>
                            <td>es teste teste tes20</td>
                            <td>123456789009876543</td>
                            <td>PEÇ</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>123456789009876543</td>
                            <td>12345678</td>
                            <td>123456789009876543</td>
                            <td>es teste teste tes20</td>
                            <td>123456789009876543</td>
                            <td>PEÇ</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>123456789009876543</td>
                            <td>12345678</td>
                            <td>123456789009876543</td>
                            <td>es teste teste tes20</td>
                            <td>123456789009876543</td>
                            <td>PEÇ</td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="text-right">
                <button type="button" class="btn btn-primary salvarNota" id="btnSalvar">Salvar</button>
                <button type="button" class="btn btn-primary cancelarNota" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    @Scripts.Render("~/Scripts/Oficina/notaOI.js")
}