@{
    Layout = "~/Views/Shared/Popup.cshtml";
}

<h2>Relatório de Prioritário</h2>
<form>
    <div class="row">
        <div class="col-md">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table custom">
                    <thead>
                        <tr>
                            <th>Código do Material</th>
                            <th>Descrição do Equipamento/Material</th>
                            <th>Centro de Trabalho</th>
                            <th>Nível de Alerta</th>
                            <th>Nível Crítico</th>
                            <th>Giro</th>
                            <th>Quantidade em Oficina</th>
                            <th>Quantidade Paralisada</th>
                            <th>Quantidade em Terceiros</th>
                            <th>Quantidade Indisponível</th>
                            <th>Quantidade Disponível na Logística</th>
                            <th>Quantidade Usuário / Transporte</th>
                            <th>Quantidade a Programar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 20 TesteTestet</td>
                            <td>Campo 20 TesteTestet</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                            <td>Campo 18 TesteTest</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>