@{
    Layout = null;
    ViewBag.Title = "Grupo de Usuários";
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-blue-sky">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
        </div>
        <div class="modal-body">
            <!--||-->
            <form>
                <div class="row">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label for="selectFrota">Perfil</label>
                        <input type="text" id="txtPerfil" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <!--Inicio-->
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <table id="Tabela2" class="table table-striped table-bordered dt-responsive nowrap datatable-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="col-md-5 col-sm-6 col-xs-6 text-capitalize text-center">Nome Completo</th>
                                    <th class="col-md-3 col-sm-1 col-xs-2 text-capitalize text-center">Departamento</th>
                                    <th class="col-md-2 col-sm-2 col-xs-2 text-capitalize text-center">Situação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alessandro Silvestre</td>
                                    <td>Tecnologia da Informação</td>
                                    <td>Ativo</td>
                                </tr>

                                <tr>
                                    <td>Aldrei Barbara Lopes da Silva</td>
                                    <td>Recursos Humanos</td>
                                    <td>Ativo</td>
                                </tr>

                                <tr>
                                    <td>Gabriel Henrique de Jesus Silva</td>
                                    <td>Operacional</td>
                                    <td>Suspenso</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--Final-->
                    </div>
                </div>
            </form>

            <!--||-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
        </div>
    </div>
</div>
